<html lang="en">
<%- include('./partials/head.ejs')%>
<body>
    <%- include('./partials/nav.ejs') %>
    
    
    <h1>Hello world Node js to the world Home page</h1>
    <div class="blogs content">
        <h2>All Blogs</h2>

        <% if(blogs.length > 0) { %>
            <% blogs.forEach(blog => { %>
                <a class="single" href="/blogs/<%= blog._id %>">
                    <h2 class="title"><%= blog.title %></h2>
                    <p class="snippet"><%= blog.snippet %> </p>
                </a>
            <% }) %>
        <% } %>
    </div>

    <%- include('./partials/footer.ejs')%>
</body>
</html>